/*Annabelle Tran Career Plan Webpage 10-22-21 CSS*/
/*Navigation at top, linked to other pages*/
nav{
    background-color: rgb(0, 0, 0);
    color: white;
    margin-right: -.5vw;
    margin-left: -.5vw;
    margin-top: -1vw;
    padding:.75vw;
}
/*Change font and take away underline of links*/
    nav p{
        font-family: 'Lato', sans-serif;
        font-size: 1.5vw;
    }
    nav a{
        margin-top: -2.75vw;
        text-decoration: none;
        color: white;
        margin-right: 2vw;
        font-family: 'Lato', sans-serif;
        font-size: 1vw;
    }
/*Move links to the right but leave name on the left*/
.links{
    display:flex;
    justify-content: flex-end;
}
/*Footer design, same as navigation*/
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 5vw;
    margin-right: -.5vw;
    margin-left: -.5vw;
    padding:.75vw;
    height: 10vw;
    margin-bottom: -1vw;
}
    footer p{
        font-family: 'Lato', sans-serif;
        font-size: 1.5vw;
    }
    footer a{
        margin-top: -2.75vw;
        text-decoration: none;
        color: white;
        margin-right: 2vw;
        font-family: 'Lato', sans-serif;
        font-size: 1vw;
    }
/*Main body div*/
.container{
    display:grid;
    grid-template-columns: auto auto auto;
    margin-left: 3.5vw;
    margin-top:2.5vw;
    text-align: center;
    grid-gap: 1em;
    grid-template-areas:
    "header"
    "info1"
    "info2"
    "info3"
    "footer"
}
/*Top info, with title*/
.header{
    grid-area: header;
}
    .header h1{
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
        text-decoration: underline;
        border: .4vw solid black;
        background-color: rgb(106, 114, 156);
        padding: 2vw 1.5vw;
        margin: .5vw 5vw;
    }
/*Topic 1: Entry level career Junior Web Developer*/
.info1{
    grid-area: info1;
    border: white 7.5px double;
    border-radius: 2vw;
    background-color: rgb(20, 24, 44);
    padding: 6vw 1.5vw;
    margin: .5vw 5vw;
}
    .info1 h3{
        color: white;
        font-size: 1.75vw;
        margin-top: -1.5vw;
        font-family: 'Ubuntu', sans-serif;
    }
    .info1 a{
        background-color: #F7931D;
        text-decoration: none;
        color: black;
        padding: .5vw .75vw;
        border: 1px solid black;
        border-radius: 5vw;
        font-size: 1.25vw;
        display:flex;
        flex-wrap: wrap;
        font-family: 'Inter', sans-serif;
    }
        .info1 a:hover{
            background-color: #c46800;
        }
/*Topic 2: Technical level career Computer systems engineer*/
.info2{
    grid-area: info2;
    border: white 7.5px double;
    border-radius: 2vw;
    background-color: rgb(20, 24, 44);
    padding: 6vw 1.5vw;
    margin: .5vw 5vw;
}
    .info2 h3{
        color: white;
        font-size: 1.75vw;
        font-family: 'Ubuntu', sans-serif;
        margin-top: -1.5vw;
    }
    .info2 a{
        background-color: #F7931D;
        text-decoration: none;
        color: black;
        padding: .5vw .75vw;
        border: 1px solid black;
        border-radius: 5vw;
        font-size: 1.25vw;
        display:flex;
        flex-wrap: wrap;
        font-family: 'Inter', sans-serif;
    }  
        .info2 a:hover{
            background-color: #c46800;
        }
/*Topic 3: Professional level career Software Application Developer*/
.info3{
    grid-area: info3;
    border: white 7.5px double;
    border-radius: 2vw;
    background-color: rgb(20, 24, 44);
    padding: 6vw 1.5vw;
    margin: .5vw 5vw;
}
    .info3 h3{
        color: white;
        font-size: 1.75vw;
        font-family: 'Ubuntu', sans-serif;
        margin-top: -1.5vw;
    }
    .info3 a{
        background-color: #F7931D;
        text-decoration: none;
        color: black;
        padding: .5vw .75vw;
        border: 1px solid black;
        border-radius: 5vw;
        font-size: 1.25vw;
        display:flex;
        flex-wrap: wrap;
        font-family: 'Inter', sans-serif;
    }
        .info3 a:hover{
            background-color: #c46800;
        }

/*Media to format display for certain width so that the boxes all come down and do not squish together*/
@media only screen and (min-width: 500px) {
    .container{
        grid-template-columns:auto auto;
        grid-template-areas:
        "header"
        "info1"
        "info2"
        "info3"
        "footer"
    }
}

@media only screen and (min-width:600px) {
    .container{
        column-gap: 1.5vw;
        grid-template-columns: 33.3333% 33.3333% 33.3333%;
        grid-template-areas:
        "header header header"
        "info1 info2 info3"
        "footer footer footer";
        max-width: 89%;
    }
}