/*Annabelle Tran Career Plan Webpage 10-21-21 CSS*/
/*Navigation at top, linked to other pages*/
nav{
    background-color: rgb(0, 0, 0);
    color: white;
    margin-right: -.5vw;
    margin-left: -.5vw;
    margin-top: -1vw;
    padding:.75vw;
}
/*Change font and take away underline of links*/
     nav p{
        font-family: 'Lato', sans-serif;
        font-size: 1.5vw;
    }
    nav a{
        margin-top: -2.75vw;
        text-decoration: none;
        color: white;
        margin-right: 2vw;
        font-family: 'Lato', sans-serif;
        font-size: 1vw;
    }
/*Move links to the right but leave name on the left*/
.links{
    display:flex;
    justify-content: flex-end;
}
/*Footer design, same as navigation*/
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 5vw;
    margin-right: -.5vw;
    margin-left: -.5vw;
    padding:.75vw;
    height: 10vw;
    margin-bottom: -1vw;
}
    footer p{
        font-family: 'Lato', sans-serif;
        font-size: 1.5vw;
    }
    footer a{
        margin-top: -2.75vw;
        text-decoration: none;
        color: white;
        margin-right: 2vw;
        font-family: 'Lato', sans-serif;
        font-size: 1vw;
    }
/*Main body div*/
.container{
    display:grid;
    grid-template-columns: auto auto auto;
    margin-left: .4vw;
    margin-top:2.5vw;
    text-align: center;
    grid-gap: 1em;
    grid-template-areas:
    "header"
    "info1"
    "info2"
    "info3"
    "lifestyle"
    "image"
}
/*Top info, with title*/
.header{
    grid-area: header;
    background-color: rgb(20, 24, 44);
    border: black .5px solid;
    padding: 1.5vw 1vw;
    font-size: 2.5vw;
    color:white;
    font-family: 'Roboto', sans-serif;
    
}
/*Image of a Computer Systems Engineer working, same size for all minor pages*/
.image{
    height: 10vw;
    width: 12.5vw;
}
/*Topic 1: Education Requirements*/
.info1{
    grid-area:info1;
}
    .info1 h3{
        border: black solid .25vw;
        border-radius: 1vw;
        padding: 1vw .5vw;
        font-size: 1.5vw;
        background-color: rgb(106, 114, 156);
        font-family: 'Ubuntu', sans-serif;
    }
    .info1 p{
        font-size: 1.25vw;
        font-family: 'Inter', sans-serif;
    }
/*Topic 2: Average Annual Salary*/
.info2{
    grid-area:info2;
}
    .info2 h3{
        border: black solid .25vw;
        border-radius: 1vw;
        padding: 1vw .5vw;
        font-size: 1.5vw;
        background-color: rgb(106, 114, 156);
        font-family: 'Ubuntu', sans-serif;
    }
    .info2 p{
        font-size: 1.25vw;
        font-family: 'Inter', sans-serif;
    }
/*Topic 3: Job Prospects*/
.info3{
    grid-area:info3;
}
    .info3 h3{
        border: black solid .25vw;
        border-radius: 1vw;
        padding: 1vw .5vw;
        font-size: 1.5vw;
        background-color: rgb(106, 114, 156);
        font-family: 'Ubuntu', sans-serif;
    }
    .info3 p{
        font-size: 1.25vw;
        font-family: 'Inter', sans-serif;
    }
.image{
    grid-area:image;
}
    .image img{
        height: 15vw;
        width: 30vw;
        margin-left: 4vw;
    }
.lifestyle{
    grid-area:lifestyle;
}
    .lifestyle h2{
        font-size: 1.75vw;
        font-family: 'Ubuntu', sans-serif;
    }
    .lifestyle p{
        margin: 1vw 5vw;
        font-size:1.25vw;
        font-family: 'Inter', sans-serif;
    }
/*Media to format display for certain width so that the boxes all come down and do not squish together*/
@media only screen and (min-width: 500px) {
    .container{
        grid-template-columns:auto auto;
        grid-template-areas:
        "header"
        "info1"
        "info2"
        "info3"
        "lifestyle"
        "image"
    }
}

@media only screen and (min-width:600px) {
    .container{
        column-gap: 5vw;
        grid-template-columns: 33.3333% 33.3333% 33.3333%;
        grid-template-areas:
        "header header header"
        "info1 info2 info3"
        "image lifestyle lifestyle"
        "image lifestyle lifestyle";
        max-width: 89%;
    }
}